body {
    background-color: cornsilk;
}
/*#1*/
/*.box {*/
/*    background-color: cornsilk;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding: 10px;*/
/*    margin: 0 auto;*/
/*}*/

/*.result {*/
/*    font-weight: bolder;*/
/*    font-size: larger;*/
/*}*/

/*#2*/
/*#box {*/
/*    background-color: cornsilk;*/
/*    height: 100vh;*/
/*    width: 100vw;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*#3*/
/*#box {*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    background-color: cornsilk;*/
/*    padding: 10px;*/
/*}*/

/*#hide\/show {*/
/*    width: 200px;*/
/*}*/

/*!*#4*!*/
/*body {*/
/*    background-color: cornsilk;*/
/*}*/
/*#list>ul>li {*/
/*    color: white;*/
/*    margin: 8px;*/
/*    padding: 8px;*/
/*}*/
/*#list>ul>li:hover {*/
/*    background-color: darkcyan;*/
/*}*/
/*#box {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    flex-direction: row;*/
/*    background-color: darkblue;*/
/*    width: 60vw;*/
/*    height: 200px;*/
/*}*/

/*#box > div {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    align-items: center;*/
/*    justify-content: left;*/
/*    width: 90%;*/
/*    height: 90%;*/
/*}*/

/*.text {*/
/*    display: none;*/
/*    background-color: cornsilk;*/
/*    padding: 5px;*/
/*    width: 90%;*/
/*    height: 90%;*/
/*}*/

/*#textHTML {*/
/*    display: flex;*/
/*}*/

/*#5*/
/*.box {*/
/*    width: 100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: left;*/
/*    margin: 10px;*/
/*    padding: 10px;*/
/*    border-bottom: 2px solid black;*/
/*}*/

/*.TitleAndButton {*/
/*    width: 50%;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/
/*#6*/
/*.box {*/
/*    background-color: cornflowerblue;*/
/*    padding: 10px;*/
/*    width: 50%;*/
/*    height: 200px;*/
/*    align-self: center;*/
/*    justify-self: center;*/

/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: space-evenly;*/
/*}*/

/*.progress-track {*/
/*    width: 150px;*/
/*    height: 20px;*/
/*    background-color: white;*/
/*}*/

/*#progress-fill{*/
/*    height: 100%;*/
/*    background-color: forestgreen;*/
/*    width: 0;*/
/*    overflow: hidden;*/
/*}*/
/*#fill {*/
/*    width: 100px;*/
/*}*/

/*#9*/
/*div {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    width: 30%;*/
/*    gap: 10px;*/
/*    padding: 10px;*/
/*}*/
/*#TypeOperation {*/
/*    width: 10%;*/
/*}*/
/*#10*/
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    gap: 10px;
    padding: 10px;
}

#result {
    font-weight: bolder;
    font-size: larger;
}