body {
    background-color: cornsilk;
}

.box {
    padding: 5px;
    margin: 0 auto;
    width: 40%;
    display: flex;
    flex-direction: row;
}

#create {
    margin: 0 auto;
    display: flex;
}

#rectangle {
    position: relative;
    border: 1px solid black;
    width: 200px;
    height: 150px;
}

#rectangle > div {
    border: 5px solid black;
    border-radius: 5px;
    position: absolute;
    width: 1px;
    height: 1px;
}

#A {
    top: 0;
    left: 0;
}
#B {
    top: 0;
    right: 0;
}
#C {
    bottom: 0;
    left: 0;
}
#D {
    bottom: 0;
    right: 0;
}

#INDEXELEMENT {
    width: 30%;
    display: flex;
    flex-direction: column;
}