body {
    background-color: cornsilk;
}

#SignUp {
    width: 20vw;
    gap: 2px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#AfterSignUp {
    display: none;

    width: 40vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 5px
}
#AfterSignUp:first-child {
    align-self: flex-end;
    justify-self: flex-end;
}


#UserInfo {
    border-top: 1px solid black;

    width: 40vw;
    gap: 2px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#UserInfo > .UserInfoInput {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
#UserInfo > .UserInfoInput > label {
    width: 100px;
}

#UserInfo > .UserInfoInput > input {
    width: 150px;
    margin-right: 50px;
}
#UserInfo > .UserInfoInput > select {
    width: 158px;
    margin-right: 50px;
}
#UserInfo > button {
    width: 100%;
}