body {
    margin: 0;
    overflow: hidden;
    background: #202020
}

#info {
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 14px;
    border-radius: 10px;
    z-index: 10;
}