body {
    background-color: black;
}

.controls {
    display: flex;
    flex-direction: column;
    background-color: cornsilk;
    margin: 0 auto;
    width: 40%;

}

.controls > button {
    height: 30px;
    margin: 2px;
}


td{
    width: 40px!important;
    height: 40px!important;
    background-color:white;
    border: 1px solid black;
}
table{
    background-color:purple;
    border-collapse: collapse;
    margin: 0 auto;
}